In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random
from sqlalchemy import create_engine, text

In [2]:
def wrangle(filepath):
    df = pd.read_csv(filepath)
    
    # Split the 'category' column
    categories = df['category'].str.split('|', n=2, expand=True)
    categories.columns = ['category', 'secondaryCategory', 'tertiaryCategory']
    
    df = df.drop('category', axis=1)
    df = pd.concat([df, categories], axis=1)
    
    # Convert price columns to float
    df['discounted_price'] = df['discounted_price'].str.replace('₹', '').str.replace(',', '').astype(float)
    df['actual_price'] = df['actual_price'].str.replace('₹', '').str.replace(',', '').astype(float)

    # Clean and convert 'rating_count' to integer
    df['rating_count'] = df['rating_count'].replace('', np.nan).str.replace(',', '').astype(float)
    
    # Clean and convert 'rating' to float
    df['rating'] = df['rating'].replace('', np.nan).replace('|', '').replace('', np.nan)
    df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
    
    # Convert 'discount_percentage' to a decimal
    df['discount_percentage'] = df['discount_percentage'].str.replace('%', '').astype(float) / 100

    # Replace user_id with numeric only (unique)
    user_id_map = {old_id: new_id for new_id, old_id in enumerate(df['user_id'].unique())}
    df['user_id'] = df['user_id'].map(user_id_map)

    # Anonymize (& clean) user_name by keeping only the first part after the comma
    df['user_name'] = df['user_name'].apply(lambda x: x.split(',')[0] if ',' in x else x).apply(lambda x: x.split(' ')[0] if ' ' in x else x)

    # Split (& clean) review_id col
    df['review_id'] = df['review_id'].apply(lambda x: x.split(',')[0] if ',' in x else x)

    # Add email
    df['user_email'] = (df['user_name'] + '@example.com').str.lower()
   
    # Drop unnecessary columns
    df.drop(columns=['secondaryCategory', 'tertiaryCategory', 'img_link'], inplace=True)
    
    return df.dropna()

In [3]:
df = wrangle('data/amazon.csv')

In [4]:
df.duplicated().sum()

0

In [5]:
df.isna().sum()

product_id             0
product_name           0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           0
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
product_link           0
category               0
user_email             0
dtype: int64

In [6]:
df

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,product_link,category,user_email
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,399.0,1099.0,0.64,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,0,Manav,R3HXWT0LRP0NMF,"Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...,Computers&Accessories,manav@example.com
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,199.0,349.0,0.43,4.0,43994.0,"Compatible with all Type C enabled devices, be...",1,ArdKn,RGIQEG07R9HS2,"A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,https://www.amazon.in/Ambrane-Unbreakable-Char...,Computers&Accessories,ardkn@example.com
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,199.0,1899.0,0.90,3.9,7928.0,【 Fast Charger& Data Sync】-With built-in safet...,2,Kunal,R3J3EQQ9TZI5ZJ,"Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",https://www.amazon.in/Sounce-iPhone-Charging-C...,Computers&Accessories,kunal@example.com
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,329.0,699.0,0.53,4.2,94363.0,The boAt Deuce USB 300 2 in 1 cable is compati...,3,Omkar,R3EEUZKKK9J36I,"Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",https://www.amazon.in/Deuce-300-Resistant-Tang...,Computers&Accessories,omkar@example.com
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,154.0,399.0,0.61,4.2,16905.0,[CHARGE & SYNC FUNCTION]- This cable comes wit...,4,rahuls6099,R1BP4L2HH9TFUP,"As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",https://www.amazon.in/Portronics-Konnect-POR-1...,Computers&Accessories,rahuls6099@example.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,B08L7J3T31,Noir Aqua - 5pcs PP Spun Filter + 1 Spanner | ...,379.0,919.0,0.59,4.0,1090.0,SUPREME QUALITY 90 GRAM 3 LAYER THIK PP SPUN F...,1189,Prabha,R3G3XFHPBFF0E8,"Received the product without spanner,Excellent...","I received product without spanner,Excellent p...",https://www.amazon.in/Noir-Aqua-Spanner-Purifi...,Home&Kitchen,prabha@example.com
1461,B01M6453MB,Prestige Delight PRWO Electric Rice Cooker (1 ...,2280.0,3045.0,0.25,4.1,4118.0,"230 Volts, 400 watts, 1 Year",1190,Manu,R3DDL2UPKQ2CK9,"ok,everything was good couldn't return bcoz I ...","ok,got everything as mentioned but the measuri...",https://www.amazon.in/Prestige-Delight-PRWO-1-...,Home&Kitchen,manu@example.com
1462,B009P2LIL4,Bajaj Majesty RX10 2000 Watts Heat Convector R...,2219.0,3080.0,0.28,3.6,468.0,International design and styling|Two heat sett...,1191,Nehal,R1TLRJVW4STY5I,"very good,Work but front melt after 2 month,Go...","plastic but cool body ,u have to find sturdy s...",https://www.amazon.in/Bajaj-RX-10-2000-Watt-Co...,Home&Kitchen,nehal@example.com
1463,B00J5DYCCA,Havells Ventil Air DSP 230mm Exhaust Fan (Pist...,1399.0,1890.0,0.26,4.0,8031.0,Fan sweep area: 230 MM ; Noise level: (40 - 45...,1192,Shubham,R39Q2Y79MM9SWK,"Fan Speed is slow,Good quality,Good product,go...",I have installed this in my kitchen working fi...,https://www.amazon.in/Havells-Ventilair-230mm-...,Home&Kitchen,shubham@example.com
1464,B01486F4G6,Borosil Jumbo 1000-Watt Grill Sandwich Maker (...,2863.0,3690.0,0.22,4.3,6987.0,"Brand-Borosil, Specification â€“ 23V ~ 5Hz;1 W...",1193,Rajib,R20RBRZ0WEUJT9,"Works perfect,Ok good product,Nice Product. Re...",It does it job perfectly..only issue is temp c...,https://www.amazon.in/Borosil-Jumbo-1000-Watt-...,Home&Kitchen,rajib@example.com

In [7]:
def generate_synthetic_data(num_records):
    product_df = df[['product_id', 'product_name', 'category', 'discounted_price', 'actual_price']].drop_duplicates()
    customer_df = df[['user_id', 'user_name', 'user_email']].drop_duplicates()
    
    orders = []
    
    for i in range(num_records):
        order_id = i + 1
        
        # Generate a random order date within the last year (date only)
        start_date = datetime.now().date() - timedelta(days=365)
        order_date = start_date + timedelta(days=random.randint(0, 365))
        
        # Randomly select a user_id and product_id
        user_id = random.choice(customer_df['user_id'].reset_index(drop=True).sort_values())
        product_id = random.choice(product_df['product_id'].reset_index(drop=True).sort_values())
        
        # Get the corresponding product price
        product_info = product_df[product_df['product_id'] == product_id].iloc[0]
        discounted_price = product_info['discounted_price']
        
        # Generate a random quantity between 1 and 5
        quantity = random.randint(1, 5)
        
        # Calculate total sales
        total_sales = discounted_price * quantity
        
        # Create the order record
        order = {
            'order_id': order_id,
            'order_date': order_date,
            'user_id': user_id,
            'product_id': product_id,
            'quantity': quantity,
            'total_sales': total_sales
        }
        
        # Append the order to the list
        orders.append(order)
    
    # Convert the list of orders to a DataFrame
    orders_df = pd.DataFrame(orders)
    
    # Sort by 'order_id' and 'order_date'
    orders_df = orders_df.sort_values(by=['order_id', 'order_date']).reset_index(drop=True)
    
    return orders_df, product_df, customer_df

In [8]:
orders_df, product_df, customer_df = generate_synthetic_data(23000)

In [9]:
orders_df.shape, product_df.shape, customer_df.shape

((23000, 6), (1352, 5), (1191, 3))

In [10]:
product_df = product_df.drop_duplicates(subset='product_id')

In [11]:
product_df.shape

(1348, 5)

In [12]:
orders_df

       order_id  order_date  user_id  product_id  quantity  total_sales
0             1  2023-10-09      556  B095PWLLY6         5       9020.0
1             2  2024-02-10      109  B0B5LVS732         5       9490.0
2             3  2024-02-18      600  B09ZPL5VYM         2        398.0
3             4  2024-07-03      695  B07S9M8YTY         3       2151.0
4             5  2023-09-04      678  B07K19NYZ8         1       2320.0
...         ...         ...      ...         ...       ...          ...
22995     22996  2024-07-02     1148  B08Y7MXFMK         1       1099.0
22996     22997  2024-04-09      131  B08DCVRW98         1        209.0
22997     22998  2023-09-14      291  B08D9NDZ1Y         1       3999.0
22998     22999  2024-05-27      358  B09VC2D2WG         4       1876.0
22999     23000  2023-09-10      933  B081FG1QYX         4       1356.0

[23000 rows x 6 columns]

In [13]:
customer_df

      user_id   user_name              user_email
0           0       Manav       manav@example.com
1           1       ArdKn       ardkn@example.com
2           2       Kunal       kunal@example.com
3           3       Omkar       omkar@example.com
4           4  rahuls6099  rahuls6099@example.com
...       ...         ...                     ...
1460     1189      Prabha      prabha@example.com
1461     1190        Manu        manu@example.com
1462     1191       Nehal       nehal@example.com
1463     1192     Shubham     shubham@example.com
1464     1193       Rajib       rajib@example.com

[1191 rows x 3 columns]

In [14]:
customer_df1 = customer_df.iloc[:1187, :]
customer_df2 = customer_df.iloc[1187:, :]

customer_df1.shape, customer_df2.shape

((1187, 3), (4, 3))

In [15]:
orders_df1 = orders_df.iloc[:20560, :]
orders_df2 = orders_df.iloc[20560:, :]

orders_df1.shape, orders_df2.shape

((20560, 6), (2440, 6))

In [16]:
postgres_engine = create_engine('postgresql+psycopg2://postgres_user:password@localhost:5433/DataWarehouse')
mysql_engine = create_engine('mysql+pymysql://mysql_user:password@localhost:3307/oltp_database')

In [17]:
product_df.to_sql('products', mysql_engine, if_exists='replace', index=False)

1348

In [18]:
orders_df1.to_sql('orders', mysql_engine, if_exists='replace', index=False)

20560

In [24]:
customer_df.to_sql('customers', mysql_engine, if_exists='replace', index=False)

1191

In [20]:
with mysql_engine.connect() as conn:
    query = "SELECT COALESCE(MAX(order_id), 0) FROM orders"
    res = conn.execute(text(query))

res.scalar()

20560

In [21]:
orders_df

       order_id  order_date  user_id  product_id  quantity  total_sales
0             1  2023-10-09      556  B095PWLLY6         5       9020.0
1             2  2024-02-10      109  B0B5LVS732         5       9490.0
2             3  2024-02-18      600  B09ZPL5VYM         2        398.0
3             4  2024-07-03      695  B07S9M8YTY         3       2151.0
4             5  2023-09-04      678  B07K19NYZ8         1       2320.0
...         ...         ...      ...         ...       ...          ...
22995     22996  2024-07-02     1148  B08Y7MXFMK         1       1099.0
22996     22997  2024-04-09      131  B08DCVRW98         1        209.0
22997     22998  2023-09-14      291  B08D9NDZ1Y         1       3999.0
22998     22999  2024-05-27      358  B09VC2D2WG         4       1876.0
22999     23000  2023-09-10      933  B081FG1QYX         4       1356.0

[23000 rows x 6 columns]

In [23]:
product_df.product_name.str.len().max()

485

In [25]:
orders_df2.to_sql('orders', mysql_engine, if_exists='replace', index=False)

2440